<body>

<div class="modal fade active" id="modalDlg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style=" position: fixed; 
    top: 3%; 
    right: 3%; 
    left: 3%; 
    width: auto; 
    margin: 0; ">
  <div class="modal-dialog" >
    <div class="modal-content" >
      <!-- <div class="modal-header" >
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="close_modalGuilty">×</button>
        <h4 class="modal-title">주석보기</h4>
      </div> -->
      <div class="modal-body" style="background-color:#fff;  height: 60%; max-height: 350px;  padding: 15px;    overflow-y: auto;   ">
        <br>
         <center> 
          <div id="dlgContent"></div>
          
        </center>
      </div>
      <div class="modal-footer">
       <center>
        <button id="closeBtn" class="btn close" data-dismiss="modal" aria-hidden="true">
          닫 기
        </button>
       </center> 
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
