

<link rel="stylesheet" href="https://namu.wiki/css/dough-0.2.0.css?1"/> 
<link rel="stylesheet" href="https://namu.wiki/css/jquery-ui.min.css?1"/>
<link rel="stylesheet" href="https://namu.wiki/css/ionicons.min.css?1"/>
<link rel="stylesheet" href="https://namu.wiki/css/layout.css?1429445738"/>

<script type="text/javascript" src="https://namu.wiki/js/jquery-2.1.3.min.js?1"></script>
<script type="text/javascript" src="https://namu.wiki/js/jquery-ui.min.js?1"></script>

<script>var isLoggedIn = true;</script>
<script type="text/javascript" src="https://namu.wiki/js/layout.js?1429442325"></script>
 

<script>
  $(function() { 
    var testURL ="http://tgqkstg.cafe24.com:8000";
    var URL ="http://tgqkstg.cafe24.com";
    var enhaSearch = "http://tgqkstg.cafe24.com/enha/search/";

    $('nav').first().remove();
    $('header').first().remove();

     
    $('.tab_bar').append('<li class="f_r"><a href="/random" >랜덤</a></li> ');
    $('.tab_bar').append('<li class="f_r"><a href="/w/FrontPage" >홈</a></li> ');
      

    // $('#_toolbox, .disclaimer,#_ad, .search-form, #_ad , .nav_top , .tab_bar , .search-box').remove();
    $('.search-page').attr("style","text-align: left;");
    $(".wikiTitle").css("margin", "0px");
    $("a").each(function(index) {
      var href = $(this).attr("href");
      
      // var href01234
      // var href012
      if (href !=undefined) {
        href01234 = href.slice(0,5);
        href012 = href.slice(0,3);
        hrefNext = href.slice(0,10);
      };
      
      if (href012 == "/w/") { 
        console.log("wiki");
        title = $(this).attr('title');
        text = $(this).text();
        // 검색어로 이동 
        // if (title !=undefined) {
        //   $(this).attr("href","javascript:AppInterface.newNamuPage('"+"나무:"+title+"')"); 
        // }else{
        //   $(this).attr("href","javascript:AppInterface.newNamuPage('"+"나무:"+text+"')"); 
        // }
 
      }
      else if(href012 == "#rf"){

      }
      else if(href012 == "#to"|| href012 == "#s-"){
      }
      else{
        $(this).attr("TARGET","_blank"); 
      }
      

      console.log("href012:"+href012);
      if( href012 == "#fn"){
        title = $(this).attr('title');
         
        title = title.replace(/\'/g, "\"");

          $(this).attr("href","javascript:AppInterface.dialog('"+title+"')");

      };
    });

    $("img").each(function(index) {
      src = $(this).attr("src"); 

      if (src == "/img/cc-by-nc-sa-2.0-kr-88x31.png") {
        $(this).attr('src', 'https://namu.wiki/img/cc-by-nc-sa-2.0-kr-88x31.png');
         
      };
      src01 = src.charAt(0)+src.charAt(1);
      srcMain = src.replace("./","");
      // console.log(index+"번째 src(01):"+src01+"타입:"+typeof(src));
      if (src01 == "./") {
        $(this).attr("src",testURL+srcMain);
      };
    });
    $("iframe").each(function(index) { 
            var src= $(this).attr('src');
            $(this).attr("width",'100%');
            $(this).after('<br><a style="font-size:20px;" title="iframe" href="'+src+'" target="_blank">유튜브 보기!</a>');
            // $(this).after('<a href="naver.com" target="_blank">테스틀 링크</a>');
            // console.log(index+"번째 ifrme:"+src);
            
    });
    $("embed").each(function(index) { 
            var src= $(this).attr('src');
            $(this).attr('type',"");
            $(this).attr("width",'100%');
            $(this).after('<br><a style="font-size:20px;" title="embed" href="'+src+'" target="_blank">유튜브 보기!</a>');
            console.log("after: "+$(this).next().attr('href'));
    });

    $(".btnLink").click(function(){
      
      href = $(this).next().attr('href');

      window.location = href;
      
      

    });
       
    // window.history.forward();
    // function noBack() { window.history.forward(); }

   } );
 
</script>
 
<SCRIPT>
document.addEventListener("backbutton", backKeyDown, true); 
function backKeyDown() { 
     // Call my back key code here.
    alert('go back!');

  }
</SCRIPT>
 

 
</head>
 
