<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js">
</script>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<link rel="stylesheet" href="modal/the-modal.css">
<script src="modal/jquery.the-modal.js">
</script>

<script>
  $(function() { 
    var testURL ="http://tgqkstg.cafe24.com:8000";
    var URL ="http://tgqkstg.cafe24.com";
    var enhaSearch = "http://tgqkstg.cafe24.com/enha/search/";

    $('nav').first().remove();
    $('header').first().remove();

    $('#_toolbox, .disclaimer,#_ad, .search-form, #_ad , .nav_top , .tab_bar , .search-box').remove();
    $('.search-page').attr("style","text-align: left;");
    $(".wikiTitle").css("margin", "0px");
    $("a").each(function(index) {
      var href = $(this).attr("href");
      
      // var href01234
      // var href012
      if (href !=undefined) {
        href01234 = href.slice(0,5);
        href012 = href.slice(0,3);
        hrefNext = href.slice(0,10);// {   /search?q=  } "WORD" &p=3
      };
      
      if (href012 == "/w/") {
        // $(this).attr("href",testURL+href);
        console.log("wiki");
        title = $(this).attr('title');
        text = $(this).text();
        // 검색어로 이동 
        if (title !=undefined) {
          $(this).attr("href","javascript:AppInterface.newNamuPage('"+"나무:"+title+"')"); 
        }else{
          $(this).attr("href","javascript:AppInterface.newNamuPage('"+"나무:"+text+"')"); 
        }
        // else{
        //   $(this).attr("href","javascript:AppInterface.newNamuSearch('"+"나무:"+href+"')"); 
        // };
         
      // }
      // else if(hrefNext == "/search?q="){
      //   var word = href.slice(9);
      //   word = escape(word); 
      //   $(this).attr("href",enhaSearch+word); 
      }
      else if(href012 == "#rf"){

      }
      else if(href012 == "#to"|| href012 == "#s-"){
      }
      else{
        $(this).attr("TARGET","_blank"); 
      }
       
      // else{
      //   $(this).attr("TARGET","_blank"); 
      //   // alert("hrefNext:"+hrefNext);
      // };

      console.log("href012:"+href012);
      if( href012 == "#fn"){
        title = $(this).attr('title');
         
        title = title.replace(/\'/g, "\"");

          $(this).attr("href","javascript:AppInterface.dialog('"+title+"')");

      };
    });

    $("img").each(function(index) {
      src = $(this).attr("src"); 

      if (src == "/img/cc-by-nc-sa-2.0-kr-88x31.png") {
        $(this).attr('src', 'https://namu.wiki/img/cc-by-nc-sa-2.0-kr-88x31.png');
         
      };
      src01 = src.charAt(0)+src.charAt(1);
      srcMain = src.replace("./","");
      // console.log(index+"번째 src(01):"+src01+"타입:"+typeof(src));
      if (src01 == "./") {
        $(this).attr("src",testURL+srcMain);
      };
    });
    $("iframe").each(function(index) { 
            var src= $(this).attr('src');
            $(this).attr("width",'100%');
            $(this).after('<br><a style="font-size:20px;" title="iframe" href="'+src+'" target="_blank">유튜브 보기!</a>');
            // $(this).after('<a href="naver.com" target="_blank">테스틀 링크</a>');
            // console.log(index+"번째 ifrme:"+src);
            
    });
    $("embed").each(function(index) { 
            var src= $(this).attr('src');
            $(this).attr('type',"");
            $(this).attr("width",'100%');
            $(this).after('<br><a style="font-size:20px;" title="embed" href="'+src+'" target="_blank">유튜브 보기!</a>');
            console.log("after: "+$(this).next().attr('href'));
    });

    $(".btnLink").click(function(){
      
      href = $(this).next().attr('href');

      window.location = href;
      
      

    });
      


    window.history.forward();
    function noBack() { window.history.forward(); }

   } );

 

</script>
 
<SCRIPT>
document.addEventListener("backbutton", backKeyDown, true); 
function backKeyDown() { 
     // Call my back key code here.
    alert('go back!');

  }
</SCRIPT>

<!-- Bootstrap Modal Android Default웹뷰에서 버전별 안되는 경우가 너무 많음 (하위버전)
  다른 모달 JQuery를 쓰더라도 버전별 에러잡기는 오버같고,
차라리 네이티브로 처리하는게 더 나을듯 하다. -->

<!-- <div class="modal fade active" id="modalDlg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style=" position: fixed; 
    top: 3%; 
    right: 3%; 
    left: 3%; 
    width: auto; 
    margin: 0; ">
  <div class="modal-dialog" >
    <div class="modal-content" >
      
      <div class="modal-body" style="background-color:#fff;  height: 60%; max-height: 350px;  padding: 15px;    overflow-y: auto;   ">
        <br>
         <center> 
          <div id="dlgContent"></div>
          
        </center>
      </div>
      <div class="modal-footer">
       <center>
        <button id="closeBtn" class="btn close" data-dismiss="modal" aria-hidden="true">
          닫 기
        </button>
       </center> 
      </div>
    </div> 
  </div> 
</div>  -->

 
</head>
 
