<!-- <script src="http://code.jquery.com/jquery-latest.min.js"></script> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js">
</script>
<script>
  $(function() { 
    var testURL ="http://tgqkstg.cafe24.com:8000";
    var URL ="http://tgqkstg.cafe24.com";

    var wikiFind = "https://ko.m.wikipedia.org/w/index.php?title=특수:검색&search=";
    var wikiFind2 = "&fulltext=본문+검색";


    $('nav').first().remove();
    
    
    $('#_toolbox, .disclaimer,#_ad, .search-form, #_ad, .header, #footer, #page-secondary-actions ').remove();
    $(".wikiTitle").css("margin", "0px");

    var url = location.href;

    $(".mw-search-pager-bottom").after('<a href="'+ url+"&limit=500&offset=0" +'">더 보기</a>');
    $(".mw-search-pager-bottom").remove();
    



    $("a").each(function(index) {
      var href = $(this).attr("href");
      console.log("Href:"+href);
      // var href01234
      // var href012
      if (href !=undefined) {
        href01234 = href.slice(0,5);
        href012 = href.slice(0,3);
        hrefNext = href.slice(0,9);// {   /w/index   } 
      };
      
      if (href01234 == "/wiki") { 
          
        // $(this).attr("href",testURL+href);
        text = $(this).attr('title');

        $(this).attr("href","javascript:AppInterface.newWikiPage('"+"위키:"+text+"')");        // $(this).attr("href","javascript:AppInterface.newpage('"+testURL+href+"')");


      }else if(hrefNext == "/w/index"){
        var word = $(this).text();
        word = escape(word);
        $(this).attr("href",enhaSearch+word); 
      }else{
        $(this).attr("TARGET","_blank"); 
      };

      console.log("href012:"+href012);
      if( href012 == "#fn"){
        $(this).click(function(){
          fnId = href.slice(3);
          
          // text = $(href).text();
          // text = $(href).html();
          // text = $(href).html().replace('id="fn','id="rfn');
          aHtml = $(this).parent().html();
          // aTitle = aTitle.replace("\"","%my%"); 
           
          title = $(this).attr('title');
          $(this).attr("href","javascript:AppInterface.dialog('"+title+"')");
          // $(this).attr("href",href);
          // $(this).attr("href","javascript:AppInterface.dialog('"+"test"+"')");
          // $(this).attr("data-toggle","modal" );
          // $(this).attr("data-target","#modalDlg" );
          // $("#dlgContent").html(text);
          // $(this).removeAttr("href");
        });
      };
    });

    $("img").each(function(index) {
      src = $(this).attr("src");
      src01 = src.charAt(0)+src.charAt(1);
      srcMain = src.replace("./","");
      // console.log(index+"번째 src(01):"+src01+"타입:"+typeof(src));
      if (src01 == "./") {
        $(this).attr("src",testURL+srcMain);
      };
    });
    $("iframe").each(function(index) { 
            var src= $(this).attr('src');
            $(this).attr("width",'100%');
            $(this).after('<br><a style="font-size:20px;" title="iframe" href="'+src+'" target="_blank">유튜브 보기!</a>');
            // $(this).after('<a href="naver.com" target="_blank">테스틀 링크</a>');
            // console.log(index+"번째 ifrme:"+src);
            
    });
    $("embed").each(function(index) { 
            var src= $(this).attr('src');
            $(this).attr('type',"");
            $(this).attr("width",'100%');
            $(this).after('<br><a style="font-size:20px;" title="embed" href="'+src+'" target="_blank">유튜브 보기!</a>');
            console.log("after: "+$(this).next().attr('href'));
    });

    $(".btnLink").click(function(){
      
      href = $(this).next().attr('href');

    window.location = href; 
    window.history.forward();
    function noBack() { window.history.forward(); }

   } );

    });
 

</script>
 
<SCRIPT>
document.addEventListener("backbutton", backKeyDown, true); 
function backKeyDown() { 
     // Call my back key code here.
    alert('go back!');

  }
</SCRIPT>
 

 
</head>